@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.selection {
  padding-bottom: 2rem;
  @include desktop {
    padding-bottom: 8rem;
  }
  &__header {
    padding: 1rem;
    margin: 0;
    font-family: "avenir-demi";
    font-size: 0.8rem;
    line-height: 1.125rem;
    color: $Silver;
    @include tablet {
      padding: 1.5rem 1rem 1.5rem 1.7rem;
      font-size: 0.75rem;
    }
  }
  &__list {
    @include flex-column;
    margin: 0;
    padding-left: 1rem;
    @include tablet {
      padding-left: 1.7rem;
    }
  }
  &__video {
    list-style-type: none;
    display: flex;
    gap: 0.9rem;
    @include tablet {
      gap: 1.3rem;
      margin-bottom: 1rem;
      width: 45%;
    }
    @include desktop {
      width: 88%;
    }
  }

  &__container {
    flex-shrink: 0;
  }
  &__video-chosen {
    height: 3.9rem;
    width: 7rem;
    border-radius: 4px;
  }
  &__video-descr-container {
    @include flex-column;
  }
  &__title {
    font-size: 0.81rem;
    color: $BrainFlix-Black;
    font-family: "avenir-demi";
    margin: 0;
    line-height: 1.12rem;
    padding-top: 0;
    @include tablet {
      font-size: 0.87rem;
      line-height: 1.25rem;
    }
    @include desktop {
      padding-bottom: 0.35rem;
    }
  }
  &__channel {
    @include mobile-body-black;
    padding-top: 9px;
    margin: 0;
    @include tablet {
      padding-top: 8px;
    }
    @include desktop {
      padding-top: 0;
    }
  }
}
