@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.selection {
  padding-bottom: 2rem;
  &__header {
    padding: 1rem;
    margin: 0;
    font-family: "avenir-demi";
    font-size: 0.8rem;
    line-height: 1.125rem;
    color: $Silver;
  }
  &__list {
    @include flex-column;
    margin: 0;
    padding-left: 1rem;
  }
  &__video {
    list-style-type: none;
    display: flex;
    gap: 0.9rem;
  }

  &__container {
    flex-shrink: 0;
  }
  &__video-chosen {
    height: 3.9rem;
    width: 7rem;
    border-radius: 4px;
  }
  &__video-descr-container {
    @include flex-column;
  }
  &__title {
    font-size: 0.81rem;
    font-family: "avenir-demi";
    margin: 0;
    line-height: 1.12rem;
    padding-top: 0;
  }
  &__channel {
    @include mobile-body-black;
    padding-top: 9px;
    margin: 0;
  }
}
