@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.comments-form {
  font-family: "avenir-regular";
  @include desktop {
    padding-left: 0.5rem;
  }
  &__comments-amount {
    padding: 0rem 1rem;
    margin: 0.5rem 0 0 0;
    font-size: 0.875rem;
    font-family: "avenir-demi";
    line-height: 1.13rem;
    color: $BrainFlix-Black;
    @include tablet {
      line-height: 1.25rem;
      font-family: "avenir-bold";
      padding-left: 2.3rem;
    }
  }

  &__container {
    @include flex-column;
    padding: 0 0 1rem 0rem;
    border-bottom: 1px solid $Mercury;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    @include tablet {
      flex-direction: row;
      align-items: flex-start;
    }
    @include desktop {
      margin-right: 0;
    }
  }

  &__commentarea {
    padding: 8px;
    border: 1px solid $Mercury;
    border-radius: 3px;
    font-family: "avenir-regular";
    width: 90%;
    height: 75px;
    background-color: $Alabaster;
    &::placeholder {
      color: $BrainFlix-DarkBlack;
      @include tablet {
        padding-left: 0.5rem;
      }
    }
    @include tablet {
      height: 1.25rem;
      width: 28.125rem;
    }
    @include desktop {
      width: 30rem;
    }
  }

  &__input {
    display: flex;
    align-items: flex-start;
    gap: 0.63rem;
    @include tablet {
      align-items: center;
      flex: 1;
    }
    @include desktop {
      gap: 1.4rem;
    }
  }

  &__input-wrapper {
    margin-top:0.7rem;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  &__profile-picture {
    width: 2.6rem;
    height: 2.4rem;
    border-radius: 50%;
    @include tablet {
      margin-left: 1.5rem;
    }
  }

  &__button {
    padding: 0.65rem 0rem;
    background-color: $BrainFlix-Blue;
    color: $White;
    border: none;
    border-radius: 4px;
    margin: 1rem 0 0 3.2rem;
    background-image: url("../../src/assets/images/add_comment.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    font-family: "avenir-regular";
    font-size: 0.81rem;
    line-height: 1.13rem;
    @include tablet {
      margin-left: 1rem;
      margin-top: 2.93rem;
      align-self: flex-start;
      padding: 0.6rem 3rem 0.6rem 3rem;
      line-height: 18px;
    }
    @include desktop {
      margin-left: 1.8rem;
    }
  }
}

label {
  font-family: "avenir-demi";
  font-size: 0.81rem;
  color: $Silver;
  margin-bottom: 0.3rem;
  line-height: 18px;
  padding-left: 3.3rem;
  padding-top: 1.5rem;
  @include tablet {
    padding-left: 4.8rem;
  }
  @include desktop {
    padding-left: 5.6rem;
  }
}
