@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin mobile-body-format {
  font-family: "avenir-regular";
  font-size: 0.9rem;
  line-height: 1.13rem;
  color: $Silver;
}

@mixin mobile-body-black {
  font-family: "avenir-regular";
  font-size: 0.813rem;
  line-height: 1.13rem;
  color: $BrainFlix-DarkBlack;
}

@mixin labels-buttons-mobile{
  font-size:12px;
  line-height:1.25rem;
}