@use "./variables" as *;

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: $font-regular-weight;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: $font-demi-weight;
}

@font-face {
  font-family: "avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: $font-bold-weight;
}
