@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-center{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

@mixin mobile-body-format{
  font-family:"avenir-regular";
  font-size:0.9rem;
  line-height:1.13rem;
  color:$Silver;
}

// @mixin mobile-body-styling{
//   font-family:"avenir-regular";
//   font-size:$phone-body-size;
//   line-height:$phone-body-line-height;
// }
