@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
.upload {
  &__title {
    padding: 1.5rem 0rem 0rem 1rem;
    font-family: "avenir-demi";
    font-size: 1.5rem;
    border-top: 1px solid $Mercury;
    @include tablet {
      padding: 1.5rem 0rem 0rem 1.5rem;
      font-size: 2.0625rem;
      line-height: 2.75rem;
      margin-top: 0;
    }
    @include desktop {
      border-top: none;
      border-bottom: 1px solid $Mercury;
      padding: 2rem 0 2rem 0;
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  &__page-container {
    @include desktop {
      display: flex;
    }
  }

  &__image-title {
    color: $Silver;
    font-family: "avenir-demi";
    @include labels-buttons-mobile;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
    @include tablet {
      border-top: 1px solid $Mercury;
      margin: 0rem 1.6rem 0rem 1.6rem;
      padding: 1.4rem 0 0.2rem 0;
    }
    @include desktop {
      padding: 0.5rem 0 0 0rem;
      border: none;
      margin: 0;
    }
  }

  &__image {
    width: 90vw;
    margin: 0 0.95rem 0 0.95rem;
    @include tablet {
      margin: 0 0.95rem 0 1.5rem;
      width: 50%;
    }
    @include desktop {
      width: 78%;
      margin: 0;
    }
  }

  &__image-container {
    @include desktop {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $Mercury;
      margin-bottom: 5.45rem;
      margin-left: 5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 2rem;
    @include desktop {
      width: 80%;
      margin-right: 4rem;
      margin-right: 0rem;
      padding-right: 3rem;
    }
    label {
      font-size: 0.813rem;
      margin: 0;
      padding-left: 1.1rem;
      padding-top: 1rem;
      color: $Silver;
      @include labels-buttons-mobile;
      font-family: "avenir-demi";
      @include tablet {
        margin: 0 0.7rem;
      }
    }
    input,
    textarea {
      @include mobile-body-black;
      background-color: $Alabaster;
      border-color: $Mercury;
      margin: 0 1rem;
      border-radius: 3px;
      @include tablet {
        margin: 0 1.6rem;
      }
      @include desktop {
        width: 42rem;
      }
    }

    input {
      padding: 0.5rem 0.5rem;
      border:1px solid $Mercury;
    }

    textarea {
      padding: 0.5rem 1rem 2.5rem 0.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__selections-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    @include tablet {
      flex-direction: row-reverse;
      border-top: 1px solid $Mercury;
      margin: 0 1.5rem;
    }
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      gap: 2rem;
      margin: 0 1.5rem 0 0;
    }
  }

  &__publish-button {
    width: 90vw;
    padding: 0.6rem 0rem;
    border-radius: 3px;
    background-color: $BrainFlix-Blue;
    color: $White;
    @include labels-buttons-mobile;
    font-family: "avenir-regular";
    background-image: url("../../src/assets/images/publish.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 1.5rem;
    cursor: pointer;
    @include tablet {
      width: 22vw;
      margin: 1rem 0rem 0 4.5rem;
    }
    @include desktop {
      width: auto;
      padding: 0.6rem 3rem;
      margin: 1rem 0 0 0;
      align-items: center;
    }
  }

  &__cancel {
    color: $BrainFlix-Blue;
    font-family: "avenir-demi";
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-bottom: 0;
    cursor: pointer;
    @include tablet {
      margin-top: 1.55rem;
    }

    @include desktop {
      padding: 0;
      margin: 1.6rem 3rem 0 0;
    }
  }
}
