@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;
.upload {
  &__title {
    padding: 1.5rem 1rem 0.5rem 1rem;
    font-family: "avenir-demi";
    font-size: 1.5rem;
    border-top: 1px solid $Mercury;
  }
  &__image-title {
    color: $Silver;
    font-family: "avenir-demi";
    @include labels-buttons-mobile;
    padding-left: 1rem;
    margin-bottom: 0.3rem;
  }

  &__image {
    width: 90vw;
    margin: 0 0.95rem 0 0.95rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 2rem;
    label {
      font-size: 0.813rem;
      margin: 0;
      padding-left: 1.1rem;
      padding-top: 1rem;
      color: $Silver;
      @include labels-buttons-mobile;
      font-family: "avenir-demi";
    }
    input,
    textarea {
      @include mobile-body-black;
      background-color: $Alabaster;
      border-color: $Mercury;
      margin: 0 1rem;
      border-radius: 3px;
    }
    input {
      padding: 0.5rem 0.5rem;
    }

    textarea {
      padding: 1rem 1rem 2.5rem 0.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__selections-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
  }

  &__publish-button {
    width: 90vw;
    padding: 0.6rem 0rem;
    border-radius: 3px;
    background-color: $BrainFlix-Blue;
    color: $White;
    @include labels-buttons-mobile;
    font-family: "avenir-demi";
    background-image: url("../../src/assets/images/publish.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    border: none;
    margin-bottom: 1.5rem;
  }

  &__cancel {
    color: $BrainFlix-Blue;
    font-family: "avenir-demi";
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }
}
