@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.header {
  @include flex-column;
  justify-content: flex-start;
  font-family: "avenir";
  font-weight: $font-regular-weight;
  width: 100%;
  padding-top: 1rem;
  overflow: hidden;
  @include tablet {
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 1rem 0;
    @include desktop {
      border-bottom: 1px solid $Mercury;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 0;
      padding-left: 2.5rem;
    }
  }

  &__search-container {
    width: 92%;
    display: flex;
    align-items: center;
    font-size: 0.81rem;
    margin-left: 1rem;
    @include tablet {
      width: 86vw;
      margin-right: 2.3rem;
    }
  }

  &__logo-image {
    width: 7rem;
    height: auto;
    max-width: 100%;
    @include flex-center;
    @include tablet {
      width: 8rem;
      padding-right: 9rem;
    }
    @include desktop {
      padding: 0.5rem 32rem 0.5rem 3.9rem;
      width: 6.9rem;
    }
  }

  &__input {
    background-color: $Alabaster;
    border-radius: 3px;
    padding: 0.7rem 0;
    border: 1px solid $Mercury;
    width: 65%;
    background-image: url("../../src/assets/images/search.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    padding-left: 2rem;
    &::placeholder {
      color: $BrainFlix-Black;
      font-family: "avenir";
      font-weight: $font-regular-weight;
      font-size: 12px;
      line-height: 1.125rem;
      padding-left: 0.5rem;
      @include tablet {
        padding-left: 0.6rem;
        font-size: 0.84rem;
        line-height: 1.37rem;
      }
    }
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 15vw;
    }
  }

  &__button-container {
    @include flex-column;
    padding: 1rem 0 0 0;
    @include tablet {
      padding-top: 0;
      margin-right: 1rem;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    width: 86.5vw;
    height: 4vh;
    background-color: $BrainFlix-Blue;
    color: $White;
    border: none;
    border-radius: 4px;
    margin: 0 1rem;
    background-image: url("../../src/assets/images/upload.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    font-family: "avenir";
    font-weight: $font-regular-weight;
    font-size: 0.8125rem;
    line-height: 1.13rem;
    cursor: pointer;
    @include tablet {
      display: none;
    }
  }

  &__tablet-button {
    display: none;
    @include tablet {
      display: inline-block;
      font-size: 0.875rem;
      padding: 0.7rem 2rem 0.7rem 2.8rem;
      background-color: $BrainFlix-Blue;
      color: $White;
      border: none;
      border-radius: 4px;
      margin: 0 1rem 0 1.3rem;
      background-image: url("../../src/assets/images/upload.svg");
      background-position: 5% 50%;
      background-repeat: no-repeat;
      font-family: "avenir";
      font-weight: $font-regular-weight;
      font-size: 0.8125rem;
      line-height: 1.13rem;
      width: 20vw;
      cursor: pointer;
    }
    @include desktop {
      width: 12vw;
    }
  }

  &__image-container {
    width: 2.6rem;
    height: 2.4rem;
  }

  &__profile-image {
    border-radius: 50%;
    background-color: $Mercury;
    margin-left: 0.8rem;
    object-fit: cover;
    object-position: 1%;
    width: 2.5rem;
    height: 2.3rem;

    @include tablet {
      width: 2.6rem;
      height: 2.4rem;
      margin-top: 0rem;
    }
    @include desktop {
      margin: 0 0 0 1rem;
    }
  }
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
