@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.video {
  &__container {
    display: flex;
    padding-top: 1rem;
    aspect-ratio: 16/9;

    @include tablet {
      height: 50vh;
      background-color: $BrainFlix-DarkBlack;
      justify-content: center;
      margin: 0;
      padding-top: 0;
    }
    @include desktop {
      height: 72vh;
      justify-content: center;
    }
  }
  &__image {
    width: 100vw;
    background-color: $BrainFlix-DarkBlack;
  }
}
